@import url(style-all-screen-middle.css);

body {
  background-color: #EBECE6;
  position: relative;
}

.loader {
  position : fixed;
  z-index: 9999;
  background-color: #749FBB;
/*background : url('../images/45.gif') 50% 50% no-repeat;*/
  top : 0px;
  left : 0px;
  height : 100%;
  width : 100%;
  cursor : wait;
}

.loader img {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.all-screen-top {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.cercle-middle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 50;
  position: absolute;
  top: 35%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: translateX(-100px); /* On déplace l'objet */
  animation: alternate;
}

/*.cercle-middle:hover {

  background-color: white;

}*/

.cercle-when-clicked {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 50;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: translateX(400px); /* On déplace l'objet */
  animation: alternate;
}

.cercle-when-clicked-return {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: translateX(-400px); /* On déplace l'objet */
  animation: alternate;
}


.cercle-middle:hover~.left {
  background-color: #FC614D;
}

.cercle-middle:hover~.square-all a {
  color: #FC614D;
}

.square-all:hover~.left {
  color: #FC614D;
}



.cercle-middle-fin {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid white;
  opacity: 0.6;
  z-index: 11;
  position: absolute;
  top: -13%; left: -12%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: scale(1); /* On déplace l'objet */
  animation: alternate;
}

.cercle-middle-fin-extend {
  position: absolute;
  top: 0%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: scale(5); /* On déplace l'objet */
  animation: alternate;
}

#semi-cercle {
  position: relative;
}

#img-semi-cercle {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 260px;
  height: 260px;
  z-index: 10;
  transform-origin: center;
}

.img-semi-cercle-extend {
  position: absolute;
  top: 0%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
  transform: scale(5); /* On déplace l'objet */
  transform: rotate(360deg);
  animation: alternate;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #749FBB;
  position: relative;
  animation: alternate;
  transition-duration: 1s;
  transition-timing-function: ease;
  width: 50%;
}

.all-screen-width {
  float: left;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  width: 100%;
}

.right {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
  position: relative;
}

.right-hidden {
  float: right;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  width: 0%;
}

.image-right-1 {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 160%;
  height: auto;
  z-index: 2;
  min-height: 110%;
  min-width: 110%;
}

.image-right-1-hidden {
  display: none;
}


.image-right-2 {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 1;
  width: auto;
  height: 170%;
}

.image-right-2-hidden {
  display: none;
}

.texte {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 30px;
}

h1 {
  font-size: 4vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 4vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 1024px) {
      .image-right-2 {
  position: absolute;
  top: 50%; left: 30%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 1;
  height: 130%;
  width: auto;

}
    }


@media screen and (max-width: 768px) {
      .cercle-middle {
        display: none;
      }
    }

@media screen and (max-width: 768px) {
      h2 {
        font-size: 40px;
      }
    }

@media screen and (max-width: 768px) {
      .cercle-middle-fin {
        display: none;
      }
    }


@media screen and (max-width: 768px) {
      .square-all {
        display: none;
      }
    }

@media screen and (max-width: 768px) {
      .hidden-menu i {
        display: show;
      }
    }

@media screen and (max-width: 768px) {
      .right {
        display: none;
      }
    }

@media screen and (max-width:768px) { /* phone < 640px */
 div.left, div.right {
  float:none;
  clear:both;
  width:100%;
 }
}




.test-texte {
  position: relative;
  text-align: center;
}



.square-all a {
  font-size: 20px;
  color: #749FBB;
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 5;

  text-decoration: none;
}

#grid-size {
width: 60px;
height: 60px;
}

.square-all:hover {
color: #FC614D;
}

#no-decoration-bouton {
  text-decoration: none;
}

#explore {
  position: absolute;
  bottom: 0px;
  right: 20px;
  transform: translateY(-50%);
  padding-bottom: 25px;
}


.all-screen-top .left #explore a {
  font-size: 15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}

.all-screen-top .left #explore i {
  font-size: 40px;
  color: white;
  text-decoration: none;
  color: white;
  text-align: center;
}

#explore #fleche {
  position: absolute;
  bottom: 0px;
  right: 14px;
}

.hidden-for-js {
  display: none;
  z-index: 2000;
}

.show {
  display: show; /* P.S: Use `!important` if missing `#content` (selector specificity). */
  z-index: 2000;
}


#hidden-text-menu a {
  text-decoration: none;
  line-height: 1;
  z-index: 2000;
}

.style-menu {
  font-size: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  z-index: 50;
  text-decoration: none;
}

.style-menu:hover {
  font-size: 42px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  /*color: #FC614D;*/
  z-index: 50;
}

/*.underline:hover {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  font-size: 60px;
  justify-content: right;
}*/

#menu-home {
  position: absolute;
  top: 28%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu-about {
  position: absolute;
  top: 42%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu-realisations {
  position: absolute;
  top: 56%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu-references {
  position: absolute;
  top: 70%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.hidden-menu i {
  color: black;
  z-index: 1000;
  font-size: 50px;
  position: absolute;
  display: none;
}



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #749FBB;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #749FBB;
    }
